:root {
    --dark: #00296b;
    --light: #fdc500;
    --midtone: #003f88;
    --highlight: #ffd500;
}

* {
    box-sizing: border-box;
}

.dropcontent {
    padding-top: 0px;
    padding-bottom: 0px;
} 

.footer {
    padding: 1rem;
    background-color: var(--midtone);
    color: var(--light)
  }

  .title {
    font-family:
  }


  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: var(--midtone);
}

#wrapper {
    flex: 1;
    background-image: url("./images/back.jpeg");
    background-size: 100% auto;
    
}

