* {
    box-sizing: border-box;
}

body {
    /* background-color: black; */
}
.dropcontent {
    padding-top: 0px;
    padding-bottom: 0px;
} 

.footer {
    padding: 1rem;
  }

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

#wrapper {
    flex: 1;
<<<<<<< HEAD
}
=======
 }
>>>>>>> 72687e4f938524a208adfed01eac5d6481b31670
